<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>WAYZON</title>

        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
               
         <link href="{% static 'testapp/css/styles.css' %}" rel="stylesheet"/>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



        

            <!-- #search -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>


    <script>$(document).ready(function () {
            $('#example').DataTable();
        });</script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    </head>

    {% block style %}


    {% endblock style %}


    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{% url 'home' %}">WAYZON</a>
            <!-- <img src="{% static "testapp/images/logo.png" %}" alt="home"> -->
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                            <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div> -->
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i>{{name}}</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'redirect-admin' %}">ADMIN</a></li>
                        <!-- <li><a class="dropdown-item" href="{% url 'edit_profile' %}">EDIT PROFILE</a></li> -->
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">LOGOUT</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    
                    <a class="nav-link" href="{% url 'home' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Home
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                
                                Employee
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <div><a class="nav-link" href="{% url 'company' %}">COMPANY </a></div>
                            <a class="nav-link" href="{% url 'position' %}">POSITIONS</a>
                            <a class="nav-link"  href="{% url 'department' %}">DEPARTMENT</a>
                            <a class="nav-link " href="{% url 'employee' %}">EMPLOYEE</a>
                            <a class="nav-link " href="{% url 'emp_resignation' %}">EMPLOYEE RESIGNATION</a>
                            <a class="nav-link " href="{% url 'emp_apprisal' %}">EMPLOYEE APPRISAL</a>
                                </nav>
                            </div>

                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                Salary Master
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'salary_master' %}">Salary Master</a>
                                    <a class="nav-link" href="{% url 'salary_head' %}">Salary Head</a>
                                    <a class="nav-link" href="{% url 'salary_structure' %}">Salary Structure</a>
                                </nav>
                            </div>


                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                Country
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'country' %}">Country</a>
                                    <a class="nav-link" href="{% url 'region' %}">Region</a>
                                    <a class="nav-link" href="{% url 'state' %}">State</a>
                                    <a class="nav-link" href="{% url 'city' %}">City</a>
                                </nav>
                            </div>


                            
                            
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                       Leave Master
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{% url 'leave_master' %}">Leave Master</a>
                                            <a class="nav-link" href="{% url 'leaves' %}">leaves</a>
                                            <a class="nav-link" href="{% url 'leave_structure' %}">leave Structure</a>
                                        </nav>
                                    </div>

                                    
                                    
                    
            
        </nav>
    </div>
    <div id="layoutSidenav_content" style="background-color: #9bb3e4;">
        <main>
            
            {% block content %}

            <div class="continer">{% for message in messages %}
                <p class="alert alert-success" role="alert">{{message}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>{% endfor %}
              </div>
            
              
<!-- =================homepage============== -->
              <div class="container" style="width: 80%; margin-top: 10%;"> 
                    
                <style>
                    body {
                      font-family: Arial, Helvetica, sans-serif;
                    }
                    
                    .flip-card {
                      background-color: transparent;
                      width: 200px;
                      height: 150px;
                      perspective: 1000px;
                    }
                    
                    .flip-card-inner {
                      position: relative;
                      width: 100%;
                      height: 100%;
                      text-align: center;
                      transition: transform 0.6s;
                      transform-style: preserve-3d;
                      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                    }
                    
                    .flip-card:hover .flip-card-inner {
                      transform: rotateY(180deg);
                    }
                    
                    .flip-card-front, .flip-card-back {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      -webkit-backface-visibility: hidden;
                      backface-visibility: hidden;
                    }
                    
                    .flip-card-front {
                      background-color: rgb(214, 10, 10);
                      color: black;
                    }
                    
                    .flip-card-back {
                      background-color: #2980b9;
                      color: rgb(243, 8, 8);
                      transform: rotateY(180deg);
                    }
                    </style>
                    </head>
                    <body>
                    
                    
                        <div class="container">
                            <div class="row">
                              <div class="col-sm">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                      <div class="flip-card-front"><br><br>
                                        <h1>Employee</h1>
                                        <h1>{{ total_employee }}</h1> 
                                      </div>
                                      <div class="flip-card-back">
                                        <h3>TOTAL EMPLOYEE</h3> 
                                        <h1>{{ total_employee }}</h1> 
                                      </div>
                                    </div>
                                  </div>
                              </div>
            
            
                              <div class="col-sm">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                      <div class="flip-card-front"><br><br>
                                        <h3>COMPANY</h3>
                                        <h1>{{ total_company }}</h1>
                                      </div>
                                      <div class="flip-card-back">
                                        <h3>TOTAL COMPANY</h3> 
                                        <h1>{{ total_company }}</h1> 
                                      </div>
                                    </div>
                                  </div>
                              </div>
            
            
                              <div class="col-sm">
                                <div class="flip-card">
                                    <div class="flip-card-inner">
                                      <div class="flip-card-front"><br><br>
                                        <h3>DEPARTMENT</h3>
                                        <h1>{{ total_department }}</h1>
                                      </div>
                                      <div class="flip-card-back">
                                        <h3>TOTAL DEPARTMENT</h3> 
                                        <h1>{{ total_department }}</h1> 
                                      </div>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
            </div>  
            













            {% endblock %}


        </main>

        <!-- #footer page url -->
        <!-- {% include 'testapp/footer.html' %}  -->
    </div>
</div>








<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'testapp/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        
  
        
        <!-- <script src="{% static 'testapp/js/chart-bar-demo.js' %}"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'testapp/js/datatables-simple-demo.js' %}"></script>
        
        
       
    
        {% block footer_scripts %}
        
      
    {% endblock %}

    </body>
</html>


