{% load widget_tweaks %}
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'testapp/css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <style>
        body {
            background-image: url("{% static 'testapp/images/reg5.jpg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: 100% 100%;
          }
    
    </style>
    <body>
		
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form method="POST" action="{% url 'register' %}">
                                           
											{% csrf_token %}

											{% if form.errors %}
												<div class="alert alert-danger alart-dismissable" role ="alert">
														<button class="close" data-dismiss="alert">
															<small><sup>x</sup></small>
														</button>
													

												{% for field in form %}
														{% if field.errors %}
															{{field.errors}}
														{% endif%}

														{% endfor %}
													</div>
												{% endif %}


                                            <div class="row mb-3">
												<div class="form-floating mb-3">
										
													{% render_field form.username class="form-control" placeholder="username" %}
													<label for="inputusername">Username</label>
												</div>
                                                <div class="col-md-6">
													
                                                    <div class="form-floating mb-3 mb-md-0">
														{% render_field form.first_name class="form-control" placeholder="firstname" %}
														<label for="inputusername">firstname</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
														{% render_field form.last_name class="form-control" placeholder="lastname" %}
                                                    
                                                        <label for="inputLastName">Last name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                {% render_field form.email class="form-control" placeholder="email" %}
                                                <label for="inputEmail">Email address</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        {% render_field form.password1 class="form-control" placeholder="password" %}
                                                        <label for="inputPassword">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        {% render_field form.password2 class="form-control" placeholder="Confirm Password" %}
                                                        <label for="inputPasswordConfirm">Confirm Password</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
												<div class="d-grid">
												<button type="submit" value="Register" class="btn btn-primary btn-block" href="{% url 'login' %}"><b>R E G I S T E R</b></button></div>
                                    
                                            </div><br>
                                            <center><a href="{% url 'login' %}">Have an account? Go to login</a></center>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
