<html>
<head>
<style>
table{
width: 100%;
border-collapse:collapse;
border: 1px solid black;
}
table td{line-height:25px;padding-left:15px;}
table th{background-color:lightgray; color:#363636;}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
   text-align: center;
}
</style>

</head>
<body>
    <div class="container-sm">
            <div class="sign" style="text-align: center;">
          <img class="img " style="width: 15%;margin-top: 2px;" img src="testapp/static/testapp/images/logo.png">
          <p style="font-weight: bold;">Wayzon Technology Services Pvt. Ltd.</p>
          <p>8 & 9, Ground Floor, R Square, Mumbai Pune Bypass Rd, Motiram Nagar,<br>Warje, Pune, Maharashtra-411 058 020-66204320</p>
          <p style="font-weight: bold;">Salary Slip for the Month of Jan 2019</p>
        </div>
          <table border="1">
          <!-- <tr height="100px" style="background-color:#363636;color:#ffffff;text-align:center;font-size:24px; font-weight:600;">
          <td colspan='4'>Wayzon Technology Services Pvt. Ltd.</td>
          </tr> -->
          <tr>
          <th>Employee Id.</th>
          <td><?php echo $data[0]->emp_id; ?></td>
          <th>Employee Name</th>
          <td><b>{{emp.firstname}} {{emp.lastname}}</b></td>
          </tr>
          <!-----2 row--->
          <tr>
          <th>DOJ</th>
          <td>{{emp.dob}}</td>
          <th>Designation</th>
          <td>{{emp.position_id}}</td>
          </tr>
          <!------3 row---->
          <tr>
          <th>Available Leave</th>
          <!-- <td><?php echo $data[0]->no_days; ?></td> -->
          <th></th>
          <td></td>
          </tr>
          <!------4 row---->
          <tr>
          <th><br></th>
          <td></td>
          <th></th>
          <td></td>
          </tr>
          <!------5 row---->
          <tr>
          <th>Leave Taken</th>
          <td>2.0</td>
          <th></th>
          <td></td>
          </tr>
          <!------6 row---->
          <tr>
          <th>Balance Leave</th>
          <td>10.0</td>
          <th></th>
          <td></td>
          </tr>
          </table>
          <tr></tr>
          <br/>
          <table border="1">
          <tr>
          <th >Earnings</th>
          <th>Amount (Rs.)</th>
          <th >Deductions</th>
          <th>Amount (Rs.)</th>
          </tr>
          <tr>
          <td>
      
          </td>
          <td></td>
          <td> </td>
          <td></td>
          </tr>
          <tr>
          <td>Basic + DA</td>
          <td>special Allowance</td>
          <td>professional tax</td>
          <td>600</td>
          </tr>
          <?php
          for ($i=0; $i < count($data1) ; $i++) { 
            ?>
            <tr>
          <td><?php echo $data1[$i]->head_name; ?></td>
          <td><?php echo $data1[$i]->amount; ?></td>
          <td></td>
          <td></td>
          </tr>


           <?php 
          }

          ?>
          
          
          </tr>
          
          <tr>
          <td></td>
          
          </tr>
          
          <tr>
          <th>Total</th>
          <td></td>
          <th >Total</th>
          <td>Rs.-</td>
          </tr>
          <tr>
          <td></td>
          <td><strong>NET PAY</strong></td>
          <td>Rs.-</td>
          <td></td>
          </tr>
          
          </table>
<br><br>
      <div class="sign" style="text-align: center;">
      <p style="font-weight: bold;">In Words Rupees Thirty Seven Thousand Three Hundred Only</p>
      </div>

          
        </div> <!-- container -->
        <br><br>
        <div class="footer">
          <img class="img " style="width: 100%; height: 75px;" src="testapp/static/testapp/images/footer.png">
        </div>

          
</body>
</html>