{% extends 'testapp/index.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container" style="width: 50%; ">
  <div class="card shadow-grey border-10 rounded-lg mt-4" style="padding: 5px;background-color:#51ade6">
    <div class="card-header" style="background-color:#eff5fa"><h3 class="text-center font-weight-light my-4">State</h3></div><br>
<form method="POST">
     {% csrf_token %}
     <center><div class="container">
    <div class="mb-3">
      <label for="country_name" class="form-label"><b>country name</b></label>
      {% render_field form.country_name class="form-control" placeholder="country name" type="select" style="text-transform:uppercase" %}       
    </div>
    <div class="mb-3">
      <label for="region_name" class="form-label"><b>region</b></label>
      {% render_field form.region_name class="form-control" placeholder="region_name" type="name" %}       
    </div>
    
    <div class="mb-3">
      <label for="state_name" class="form-label"><b>state_name</b></label>
      {% render_field form.state_name class="form-control" placeholder="state_name" type="name" %}       
    </div>
    
    
    <button type="submit" value="Update" class="btn btn-primary" href="{% url 'state' %}">Update</button>
  </form>             
</div></center>
</div>
</div>
{% endblock %}