{% extends 'testapp/index.html' %} 
{% block style %}
<style>
   table tr{
    background-color: rgb(58, 142, 199);
    text-transform: uppercase;
  }
   table th{
    color: aliceblue;
   
    text-transform: uppercase;
  }

</style>
{% endblock style %}
{% block content %}

<div>{% for message in messages %}
  <p class="alert alert-success" role="alert">{{message}}</p>{% endfor %}
</div>
 
<div class="container"><br>
  
    
    <nav class="navbar navbar-light" style="background-color: #65b6f0;">  
        <a class="navbar-brand" href="#">&nbsp; <b>Salary Head</b></a>
        <a href="{% url 'add_sh' %}" class="text-white my-1" style="float:right"><b>+Add New</b>&nbsp;</a>
    </nav><br>
    <table id="example" class="table table-striped table-bordered" style="width:100%" font-size="smaller">
        <thead>
            <tr style="text-align:center;">
               <th>No.</th>
               <th>Salary Head</th>
               <th>type</th>
               
              
                <th>Action</th>
            </tr>
          </thead>

      
          <tbody>
          {% if form %}
          {% for sh in form %}
            <tr style="text-align:center;">
                <td>{{forloop.counter}}</td>
                <td>{{sh.head_name}}</td>
                <td>{{sh.sm_type}}</td>
                
                
                <!-- <td><img src="{{c.hr_sign}}" width="100px" height="100px"></td> -->
              <td><form action ="{% url 'edit_sh' sh.id %}" method="POST" class="d-inline">
                <button type="submit" class="btn btn-success btn-sm" data-placement="top" data-original-title="Edit" ><i class="fas fa-edit"></i></button>                
                {% csrf_token %}
            </form>

            <a class="btn-sm btn-danger"  href="{% url 'delete_sh' sh.id %}"><i class="fa-solid fa-trash-can"></i></a></td>
            </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="4"><span>
                   No Record Found !
                  </span>
              </td>
          </tr>
      
          {% endif %}
                
            </tbody>
           
        </table>
        </div>

{% endblock %}