{% extends 'testapp/index.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container" style="width: 50%; ">
  <div class="card shadow-grey border-10 rounded-lg mt-4" style="padding: 5px;background-color:#51ade6">
    <div class="card-header" style="background-color:#eff5fa"><h3 class="text-center font-weight-light my-4">Leaves</h3></div><br>
<form method="POST">
     {% csrf_token %}
     <center><div class="container">
         <div class="mb-3">
           <label for="employee_name" class="form-label"><b>Employee Name</b></label>
           {% render_field form.employee_name class="form-control" placeholder="employee_name" type="text" %}       
         </div>

    <div class="mb-3">
      <label for="leave_name" class="form-label"><b>Leave Name</b></label>
      {% render_field form.leave_name class="form-control" placeholder="leave_name" type="name" %}       
    </div>
    
    <div class="mb-3">
      <label for="from_date" class="form-label"><b>From date </b></label>
      {% render_field form.from_date class="form-control" placeholder="from_date" type="date" %}       
    </div>
    
    <div class="mb-3">
      <label for="to_date" class="form-label"><b>To Date</b></label>
      {% render_field form.to_date class="form-control" placeholder="to_date" type="date" %}       
    </div>
    
    
    
    <button type="submit" value="Update" class="btn btn-primary" href="{% url 'leaves' %}">Update</button>
  </form>             
</div></center>
</div>
</div>
{% endblock %}